In [1]:
import pandas as pd
import numpy as np

In [5]:
ecco_df = pd.read_csv('ECCO.csv', encoding='iso-8859-1')
ecco_df.head()

,RAMO,RAMO SIGLAS,RAMO DESCRIPCION,INSTITUCION SIGLAS,INSTITUCION NOMBRE,UR,ANIO,INDICE DE SATISFACCION LABORAL
0,2,PRES,Presidencia de la República,PRES,Presidencia de la República,100,2010,78.0
1,2,PRES,Presidencia de la República,PRES,Presidencia de la República,100,2011,80.0
2,2,PRES,Presidencia de la República,PRES,Presidencia de la República,100,2012,81.0
3,2,PRES,Presidencia de la República,PRES,Presidencia de la República,100,2013,84.0
4,2,PRES,Presidencia de la República,PRES,Presidencia de la República,100,2014,86.0

In [8]:
ecco_df_extract = ecco_df[['RAMO', 'ANIO', 'INDICE DE SATISFACCION LABORAL']].copy()
ecco_df_extract.head()

   RAMO  ANIO  INDICE DE SATISFACCION LABORAL
0     2  2010                            78.0
1     2  2011                            80.0
2     2  2012                            81.0
3     2  2013                            84.0
4     2  2014                            86.0

In [20]:
ecco_df_prom = ecco_df_extract.groupby(['RAMO', 'ANIO']).mean()
ecco_df_prom = ecco_df_extract.rename(columns={'INDICE DE SATISFACCION LABORAL':'PROMEDIO ECCO'})
ecco_df_prom.head()

   RAMO  ANIO  PROMEDIO ECCO
0     2  2010           78.0
1     2  2011           80.0
2     2  2012           81.0
3     2  2013           84.0
4     2  2014           86.0