In [1]:
import pandas as pd
import numpy as np

In [2]:
auditorias_df = pd.read_csv('Auditorias.csv', encoding='iso-8859-1')
auditorias_df.head()

,RAMO,ID_UR,EJERCICIO,TRIMESTRE,INSTITUCION,AUDITORÍAS_REALIZADAS,OBSERVACIONES_DETERMINADAS
0,2,0,2002,20020401/20020630,PRESIDENCIA DE LA REPÚBLICA,5,14
1,2,0,2002,20020101/20020331,PRESIDENCIA DE LA REPÚBLICA,3,22
2,2,0,2002,20020701/20020930,PRESIDENCIA DE LA REPÚBLICA,7,8
3,2,0,2002,20021001/20021231,PRESIDENCIA DE LA REPÚBLICA,1,2
4,4,I00,2002,20020101/20020331,Centro de Investigación Científica y de Educac...,3,3

In [3]:
auditorias_df_ext = auditorias_df[['RAMO', 'EJERCICIO', 'AUDITORÍAS_REALIZADAS', 'OBSERVACIONES_DETERMINADAS']].copy()
auditorias_df_ext.head()

   RAMO  EJERCICIO  AUDITORÍAS_REALIZADAS  OBSERVACIONES_DETERMINADAS
0     2       2002                      5                          14
1     2       2002                      3                          22
2     2       2002                      7                           8
3     2       2002                      1                           2
4     4       2002                      3                           3

In [4]:
auditorias_sanciones = auditorias_df_ext.groupby(['RAMO', 'EJERCICIO']).sum()
auditorias_sanciones = auditorias_sanciones.rename(columns={'AUDITORÍAS_REALIZADAS':'AUDITORIAS', 'OBSERVACIONES_DETERMINADAS':'SANCIONES'})
auditorias_sanciones['aud_san_ratio'] = auditorias_sanciones['AUDITORIAS'] / auditorias_sanciones['SANCIONES']
auditorias_sanciones = auditorias_sanciones.rename(columns={'RAMO':'ramo', 'EJERCICIO':'ejercicio','AUDITORIAS':'auditorias', 'SANCIONES':'sanciones'})
auditorias_sanciones

                auditorias  sanciones  aud_san_ratio
RAMO EJERCICIO
2    2002               16         46       0.347826
     2003               18         48       0.375000
     2004               12         41       0.292683
     2005               10         30       0.333333
     2006                6         20       0.300000
     2007               13         54       0.240741
     2008               10         25       0.400000
     2009                8         21       0.380952
     2010                9         16       0.562500
     2011                8         24       0.333333
     2012                3          4       0.750000
     2013                6          8       0.750000
     2014                6         18       0.333333
     2015                6         26       0.230769
     2016                6         27       0.222222
     2017                6          3       2.000000
     2018                4          2       2.000000
4    2002              170        491       0.346232
     2003              134        348       0.385057
     2004              151        427       0.353630
     2005              143        373       0.383378
     2006              126        246       0.512195
     2007              162        303       0.534653
     2008              146        293       0.498294
     2009              137        372       0.368280
     2010              136        319       0.426332
     2011              122        384       0.317708
     2012               67        181       0.370166
     2013              140        495       0.282828
     2014              144        351       0.410256
...                    ...        ...            ...
47   2006               21         27       0.777778
     2007               31         58       0.534483
     2008               25         57       0.438596
     2009               26         37       0.702703
     2010               29         68       0.426471
     2011               24         48       0.500000
     2012               12         35       0.342857
     2013               30        151       0.198675
     2014               32        152       0.210526
     2015               29        139       0.208633
     2016               52        227       0.229075
     2017               60        249       0.240964
     2018               24         86       0.279070
48   2002               31        351       0.088319
     2003               29        438       0.066210
     2004               40        286       0.139860
     2005               85        328       0.259146
     2006               85        304       0.279605
     2007              101        402       0.251244
     2008               72        339       0.212389
     2009               39        145       0.268966
     2010               54        117       0.461538
     2011               49        173       0.283237
     2012               25         91       0.274725
     2013               28        129       0.217054
     2014               52        178       0.292135
     2015               45        205       0.219512
     2016               28        152       0.184211
     2017               28        144       0.194444
     2018               14         43       0.325581

[374 rows x 3 columns]